</div><!-- end main -->
<footer class="footer_eidolon">
	<div class="wrapper_eidolon">
		<div class="fleft">
			<div class="footertext_eidolon">All content copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</div>
			<div class="footertext_eidolon">Proudly published with <a class="icon-ghost" href="http://tryghost.org" target="_blank">Ghost</a></div>
		</div>
		<div class="frite">
			<a class="subscribe_eidolon icon-rss" target="_blank" href="{{@blog.url}}/rss/"><span class="entypo-rss"></span></a>
		</div>
	</div>	
</footer>